.datos-personaje {
  margin: 2% auto;
  padding: 2%;
  border: 2px solid #337eda;
  width: 45%;
  text-align: center;
}

.div-botones {
  padding-top: 2%;
}

.div-botones > button {
  margin: 0 4px;
}

img {
  max-width: 30%;
}


span{
  font-weight: bolder;
}

.rojo{
  color: red;
}

.naranja{
  color: rgb(249, 105, 53);
}

.amarillo{
  color: gold;
}

.verde-claro{
  color: rgb(63, 237, 63);
}

.verde-oscuro{
  color: green;
}