<div class="row justify-content-center p-4 bg-light">
  <div class="col-12">
    <h4>ENUNCIADO</h4>
    <p>
      Crea una página PlayList que contenga un array de tu playlist favorita de spotify (nombre de
      la canción, url de youtube). Crea un componente hijo que reciba cada uno de los artistas y
      muestre el nombre de la canción y su enlace. El padre debe recorrer el array con una
      estructura de control de flujo y llamar al hijo para que pinte la información. Puedes mejorar
      la versión, usando una tarjeta de bootstrap e incrustando el video de youtube.
    </p>

    <h4>SOLUCIÓN</h4>

    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success m-2" (click)="setListaArtista()">TODOS</button>
            @for (artista of listaArtistas; track $index) {
               <button type="button" class="btn btn-primary m-2" (click)="setListaArtista(artista)">{{ artista }}</button>
            }
        </div>
      @for (cancion of listaCanciones; track $index) {
      <div class="col-3 pt-2">
        <app-detalle-tarjeta [detalleTarjeta]="getDetalleTarjeta(cancion)"></app-detalle-tarjeta>
      </div>
      }
    </div>
  </div>
</div>
